.page-header
  %h1 Welcome!
%p.lead This is a Rails 5 starter application to boost your MVP development.
%h4 What is featured till now:
%ul
  %li HAML and Bootstrap generators
  %li Devise for authentication
  %li Omniauth for Facebook and Google authentication
  %li Pundit for authorization, and different roles for users
  %li API with token authentication
  %li Rspec and Capybara for automated testing, and test coverage for all implemented features

%h4 Login as an admin:
%ul
  %li Email:   'admin@rails5-starter.com' 
  %li Password: 'password'
%hr
%a.btn.btn-primary{ href: 'https://github.com/MohamedBrary/rails_starter', target: :_blank }
  Github Repository

%a.btn.btn-default{ href: 'https://gist.github.com/MohamedBrary/12465abb009d5dbeadeb8cde9adb30b5', target: :_blank }
  Gist Used

%br
%br
.alert.alert-info
  For the same features but integerating with 
  %b
    React
  check this 
  %b
    %u
      %a{ href: 'https://github.com/MohamedBrary/rails_starter_react', target: :_blank }
        Github Repository

  \.  